:root {
  --white:#FFFFFF;
  --black:#0e1318;
  --greenbg: #4aed66;
  --drkgrn: #1dac81;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../files/bgbody_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

/* scroller width */
::-webkit-scrollbar {
  width: 5px;
  background: var(--greenbg);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--drkgrn);
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 200;
  margin: 0;
}

.contact {
  text-decoration: none;
  text-transform: none;
  color: var(--white);
}

.port {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 0.8em;
  border: 1px solid var(--white);
  cursor: pointer;
}
.port:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid transparent;
}

.port_work {
  display: inline-block;
  margin-top: 1em;
}
.port_work:hover {
  background-color: var(--drkgrn);
}

.separator {
  height: 1px;
  background-color: white;
  opacity: 0.2;
  width: 100%;
  margin: auto;
}

.test_work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.test_work .img_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid white;
  border-radius: 0.8em;
  padding: 10px;
  height: 200px;
}
.test_work .img_name .first_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.test_work .img_name .first_section img {
  border: 1px solid white;
  padding: 10px;
  border-radius: 0.5em;
  width: 40px;
}
.test_work .img_name .name_title p {
  font-weight: 300;
  margin-top: 10px;
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--drkgrn);
  text-transform: capitalize;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main_resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main_resume .resume_title {
  margin: 1em;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4em;
}
.main_resume .abs_sign {
  top: 3em;
  right: 2%;
  position: fixed;
  height: 200px;
  z-index: 1;
  transform: rotate(-30deg);
}
.main_resume .resume_hero {
  width: 55%;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: auto;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 100px 0;
  align-items: flex-start;
}
.main_resume .resume_hero .main_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
}
.main_resume .resume_hero .main_heading h1 {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.main_resume .resume_hero .main_heading p {
  text-transform: uppercase;
}
.main_resume .resume_hero .right {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.main_resume .resume_hero .right .main_sub {
  height: 100%;
}
.main_resume .resume_hero .right .main_sub .main_sub_data .heading_title {
  text-transform: uppercase;
  font-weight: 700;
}
.main_resume .resume_hero .right .main_sub p {
  margin-bottom: 10px;
}
.main_resume .resume_hero .right .main_sub ul {
  list-style: none;
  text-transform: capitalize;
}
.main_resume .resume_hero .right .main_sub ul li {
  line-height: 1.25;
}
.main_resume .resume_hero .right .main_sub .skills span {
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 0.8em;
  padding: 10px;
  border: 1px solid var(--white);
}

@media only screen and (max-width: 860px) {
  .main_resume .resume_hero {
    width: calc(100% - 80px);
    grid-template-columns: 1fr;
  }
  .main_resume .abs_sign {
    position: absolute;
  }
}/*# sourceMappingURL=blog.css.map */